<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>修改密码</title>
    <style>
        div>label{
             display: inline-block;
             width: 80px;
        }
        span{
            color: red;
        }
    </style>
</head>
<body>
<form action="/user/reset_pw" method="post">
    {% csrf_token %}
     <div>
        <label>原密码</label>
        <input type="text" name="password" value="{{ password }}">
        <span>{{ password_err }}</span>
    </div>
    <div>
        <label>新密码</label>
        <input type="text" name="password1" value="{{ password1 }}">
        <span>{{ password1_err }}</span>
    </div>
    <div>
        <label>新密码(重复)</label>
        <input type="text" name="password2" value="{{ password2 }}">
        <span>{{ password2_err }}</span>
    </div>
    <div>
        <input type="submit" value="修改密码">
    </div>
</form>
</body>
</html>