<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>修改笔记</title>
    <style>
        textarea {
            border: 0;
            resize: none;
            outline: 0;
            z-index: 3;
            color: #333;
            overflow: hidden;
        }
    </style>
</head>

<body>
    <form action="/note/mod/{{ anote.id }}" method="post">
        {% csrf_token %}
        <div>
            <label>标题</label>
            <input type="text" name="title" value="{{anote.title}}">
            <input type="submit" value="修改">
            <a href="/note/">返回笔记列表</a>
        </div>
        <div>
            <textarea name="content" cols="30" rows="10">{{ anote.content }}</textarea>
        </div>
    </form>

</body>

</html>